@font-face {
    font-family: 'Logger'; /*a name to be used later*/
    src: url('logger.TTF'); /*URL to font*/
}

body {
	margin-top: 50px;
    background: url("bg-9-full.jpg");
    background-size: cover;
}

.logger{
	font-family: Logger;
}

.banner{
	text-align: center;
	padding-top: 20px;
	font-family: Logger;
	font-size: 60px;
	color: black;
	background: white;
	border-radius: 15px;
	opacity: 0.60;
}

.info p{
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.card-header{
	text-align: center;
}

.btn-center{
	text-align: center;
}
.btn-grp{
	margin: auto;
}
.c-card{
	background: white;
}
.w3-opennav, .w3-closenav{
	color: white;
}

.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}

.comment{
	text-align: center;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

.mobile{
	display: none;
}

@media screen and (max-width: 760px){
	.topnav li{
		display: none;
	}
	
	.mobile{
		display: block;
	}
	
	body{
		margin: 0;
	}
	.comment{
		width: 500px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	.mobile-btn{
		margin-left: calc(100% - 200px);
	}
	
	.hed{
	}
	
}
