@font-face {
    font-family: 'Logger'; /*a name to be used later*/
    src: url('logger.TTF'); /*URL to font*/
}

body {
	margin-top: 40.5px;
    background: url("bg-9-full.jpg");
    background-size: cover;
}

.pdtop{
    padding-top: 10px;
    padding-bottom: 10px;}

.logger{
	font-family: Logger;
}

.centered{
    text-align: center;
}

.banner{
	text-align: center;
	padding-top: 20px;
	font-family: Logger;
	font-size: 60px;
	color: black;
	background: white;
	border-radius: 15px;
	opacity: 0.60;
}

.info p{
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.btn-grp{
	margin: auto;
}
.c-card{
	background: white;
	padding-bottom: 20px;
}
.g-card{
    background: grey;
    padding-bottom: 20px;
   }
.w3-opennav, .w3-closenav{
	color: white;
}

.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}

.image{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.comment{
	text-align: center;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}



/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

.mobile{
	display: none;
}

input[type=text] {
    width: 100%;
     border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;

}
input[type=password] {
    width: 100%;
     border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;

}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
input[type=button], input[type=submit], input[type=reset] {
    width: 100%;
    background-color: grey;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=button], input[type=file], input[type=reset] {
    width: 100%;
    background-color: grey;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
dt{
    display: none;
}

dl p{
    margin: 0px;
}
dd{
    margin-left: 0px;
}


@media screen and (max-width: 760px){
	.topnav li{
		display: none;
	}
	
	.mobile{
		display: block;
	}
	
	body{
		margin-top: 50px;
	}
	.comment{
		width: 100%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	.mobile-btn{
		margin-left: calc(100% - 200px);
	}
	
	.hed{
	}
	
}
