{% extends 'base.html' %}


{%  block body %}
	<!-- Header -->
	<header class="w3-container w3-red w3-center w3-padding-128">
		<h1 class="w3-margin w3-xxlarge logger text-right">GENESIS FRAME SHOP</h1>
		<p class="w3-xlarge logger text-right">AND GALLERY LLC</p>
		<a  href="{{ url_for('main.gallery') }}"><button class="w3-btn w3-padding-16 w3-large w3-margin-top">Go to the Gallery</button></a>
	</header>

	<!-- First Grid -->
	<div class="w3-row-padding w3-padding-64 w3-container">
		<div class="w3-content">
			<div class="w3-twothird">
				<h1 class="logger">GENESIS FRAME SHOP AND GALLERY</h1>

				<p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
		    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
		    laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>

			<div class="w3-third w3-center ">
			</div>
		</div>
	</div>
{% endblock %}
