{% extends 'base.html' %}


{%  block body %}
	<style> body { margin-top: 40.5px} </style>
	<div class="">
		<header class="w3-container w3-red w3-center w3-padding-128 ">
			<div class="container center">
				<h1 class="w3-margin w3-xxlarge text-right">Genesis Frame Shop</h1>
				<p class="w3-xlargegit  text-right">And Gallery LLC</p>
				<a  href="{{ url_for('main.gallery') }}"><button class="w3-btn w3-padding-16 w3-large w3-margin-top">Go to the Gallery</button></a>
			</div>
		</header>

		<!-- First Grid -->
		<div class="w3-content  g-card" style="max-width:1000px">
			<div class="w3-row-padding w3-padding-64 w3-container">
				<div class="w3-content">
					<div class="w3-twothird">
						<h1 class="">GENESIS FRAME SHOP AND GALLERY</h1>
						{% if desc: %}
							{{ desc.body }}
						{% endif %}
						<div class="centered edit_main">
							{% if user.authenticated: %} 
								<a href="/body">
									<button class="w3-btn w3-round-xlarge w3-hover-blue">Edit</button>
								</a>
							{% endif %}
						</div>
					</div>

					<div class="w3-third w3-center ">
						{% if photo: %}
							<div class="w3-card" style="background-color: #e5e5e5;">
								<h5 > {{ photo.title }}</h5>
					 			<a href="{{ url_for('main.static', filename='images/'+photo.imgfilename)}}">
									<img class="thumb" src="{{ url_for('static', filename='images/'+photo.imgfilename)}}" style="width:100%">
								</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
			<!--
			<div class="news w3-card">
				<h3> News </h3>
				<div class="w3-row-padding">
					{% for post in posts: %}
						<div class="w3-third">
							<div class="w3-card-4 post-card">
								<div class="w3-container" id="gallhead">
						  			<h4>{{post.title}}</h4>
								</div>
								<div class="post">
									<p>{{ post.body }}</p>
								</div>
							</div>
						</div>
					{% endfor %}
			</div>
			-->
		</div>
	</div>
{% endblock %}
