{% extends 'base.html' %}


{%  block body %}
	<style> body { margin-top: 40.5px} </style>
	<div class="">
		<header class="w3-container w3-red w3-center w3-padding-128 ">
			<div class="container center">
				<h1 class="w3-margin w3-xxlarge text-right">Genesis Frame Shop</h1>
				<p class="w3-xlargegit  text-right">And Gallery LLC</p>
				<a  href="{{ url_for('main.gallery') }}"><button class="w3-btn w3-padding-16 w3-large w3-margin-top">Go to the Gallery</button></a>
			</div>
		</header>

		<!-- First Grid -->
		<div class="w3-content  g-card" style="max-width:1000px">
			<div class="w3-row-padding w3-padding-64 w3-container">
				<div class="w3-content">
					<div class="w3-twothird">
						<h1 class="">GENESIS FRAME SHOP AND GALLERY</h1>

						<p>   Genesis frame shop is a local Helena, Montana frameshop. I work with you to select the best frame to fit your picture or painting. Or if you are looking for a picture, the walls are lined with various paintings that I have framed.</p>
					</div>

					<div class="w3-third w3-center ">
			 			
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
