{% extends 'base.html' %}
{% from "macros.html" import render_field %}

{%  block body %}
	<div class="w3-card-4 c-card">
		<div class="w3-container w3-green">
		  	<h2>Edit an Image</h2>
		</div>
		<h2>{{ photo.title }}</h2>
		<p>{{ photo.comment }}</p>
		<p>{{ photo.price }}</p>
		<p>{{ photo.artist }}</p> <br />
		<form class="w3-container" method='POST' action="/edit/image/{{ photo.id }}" enctype="multipart/form-data">
			<dl>
				{{ form.csrf_token() }}
				{{ render_field(form.title) }}
				{{ render_field(form.comment) }}
				{{ render_field(form.price) }}
				{{ render_field(form.artist) }}
				
			</dl>
			{{ render_field(form.submit) }}
		</form>
	</div>

{% endblock %}
