{% extends 'base.html' %}
{% from "macros.html" import render_field %}


{%  block body %}
<div class="w3-content" style="max-width:1000px">
	<div class="w3-card-4 c-card">
		<div class="w3-container" id="gallhead">
		  	<h2>Edit an Image</h2>
		</div>
		<form class="w3-container block-center" method='POST' action='/edit/image/{{photo.id}}' enctype="multipart/form-data" style="max-width: 600px;">
			<dl>
				{{ form.csrf_token() }}
				<dt>
					<label for="title">Title:</label>
				</dt>
				<dd>
					<label for="title">Title:</label>
					<input id="title" name="title" value="{{ photo.title }}" type="text">
				</dd>
				<dt>
					<label for="comment">Comment:</label>
				</dt>
				<dd>
					<label for="comment">Comment:</label>
					<textarea id="comment" name="comment" value="" type="text">{{ photo.comment }}</textarea>
				</dd>
				<dt>
					<label for="price">Price:</label>
					<p>(if you want the price to be blank enter 0)</p>
				</dt>
				<dd>
					<label for="price">Price:</label>
					<p>(if you want the price to be blank enter 0)</p>
					<input id="price" name="price" value="{{ photo.price }}" type="text">
				</dd>
				<dt>
					<label for="artist">Artist:</label>
					<p>(if you want the artist to be blank leave it empty)</p>
				</dt>
				<dd>
					<label for="artist">Artist:</label>
					<p>(if you want the artist to be blank leave it empty)</p>
					<input id="artist" name="artist" value="{{ photo.artist }}" type="text">
				</dd>				
			</dl>
			<dd>
				<input id="submit" name="submit" value="Submit" type="submit">
			</dd>
		</form>
		<hr>
		<div class="centered">
			<a href="/delete/image/{{photo.id}}">
				<button class="w3-btn w3-round-xlarge w3-hover-red">Delete</button>
			</a>
		</div>
	</div>
</div>

{% endblock %}
