{% extends 'base.html'  %}
{% from "macros.html" import render_field %}

{% block body %}
	<div class="w3-content" style="max-width:1000px">
		<div class="w3-card-4 c-card ">
			<div class="w3-container" id="gallhead">
				<h2>Register a new user</h2>
			</div>
			<form action="" method="POST" role="form" style=" display: block; margin-left: auto; margin-right: auto; max-width: 600px;">
				<dl>
					{{ form.csrf_token() }}
					<dd>
						<label for="email"> Email Address: </label>
						<input type="email" id="email" name="email" required="required" class="form-control" placeholder="">
					</dd>
					<dd>
						<label for="">Password:</label>
						<input type="password" name="password" id="password" class="form-control" required="required" title="">
					</dd>
					<dd>
						<label for="">Repeat Password:</label>
						<input type="password" name="confirm" id="confirm" class="form-control" required="required" title="">
					</dd>
				</dl>
				<button type="submit" class="btn btn-primary">Register</button>
			</form>
		</div>
	</div>

{% endblock %}


