{% extends 'base.html' %}
{% from "macros.html" import render_field %}

{%  block body %}
	<div class="w3-card-4 c-card">
		<div class="w3-container w3-brown">
		  	<h2>Upload an Image</h2>
		</div>
		<form class="w3-container" method='POST' action='/upload' enctype="multipart/form-data">
			<dl>
				{{ form.csrf_token() }}
				{{ render_field(form.title) }}
				{{ render_field(form.imgfile) }}
				{{ render_field(form.comment) }}
				{{ render_field(form.price) }}
				<p>(If you don't want to show a price field enter 0)</p>
				{{ render_field(form.artist) }}
				<p>(If you don't want to show an Artist Name leave blak</p>
				
			</dl>
			{{ render_field(form.submit) }}
		</form>
	</div>
{% endblock %}
