{% extends 'base.html' %}

{% block body %}

	<div class="w3-row" id="myGrid" style="margin-bottom:128px">
	 	<div class="w3-card-4 c-card">
	 		<header class='W3-container'>
	 			<hr>
	 			<h1 class='centered'> {{photo.title}}</h1>
	 			<hr>
	 		</header>
	 		<div class='w3-container'>
	 			<img class="image" src="{{ url_for('static', filename='images/'+photo.imgfilename)}}" >
	 			<hr>
				<p class="comment"> {{photo.comment}}</p>
				<div class="w3-row">
					{% if photo.price != 0 and photo.artist: %}
						<hr>
						{% if photo.price != 0: %}
							<div class="w3-half centered">
							<p><b> Sold for:</b> ${{photo.price}}</p>
							</div>
						{% endif %}
						{% if photo.artist: %}
							<div class="w3-half centered">
							<p><b> Artist: </b>{{photo.artist}}</p>
							</div>
						{% endif %}
					{% elif photo.price != 0: %}
						<hr>
						<div class="centered">
						<p><b> Sold for:</b> ${{photo.price}}</p>
						</div>
					{% elif photo.artist: %}
						<hr>
						<div class="centered">
						<p><b> Artist: </b>{{photo.artist}}</p>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		<br />
		<div class="centered">
			{% if auth: %}
			<a href="/delete/image/{{photo.id}}">
				<button class="w3-btn w3-round-xlarge w3-hover-red">Delete</button>
			</a>
			{% endif %}
			<a href="{{ url_for('main.gallery') }}">
				<button class="w3-btn w3-round-xlarge w3-hover-white">Back to Gallery</button>
			</a>
			{% if auth: %}
			<a href="/edit/image/{{photo.id}}">
				<button class="w3-btn w3-round-xlarge w3-hover-blue">Edit</button>
			</a>
			{% endif %}
		</div> 
	</div>
{% endblock %}

